<div class="col-md-12 answer">
  <div class="col-md-8 form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: "form-control shadow" %>
  </div>
  <div class="col-md-4">
    <%= f.label :is_correct, class: "center" %>
    <%= f.check_box :is_correct, class: "shadow" %>
  </div>
</div>
